@model SchoolPortal.Common.DTOs.CreateStateDto

@{
    ViewData["Title"] = "Create State";
}

@section Styles {
    <link rel="stylesheet" href="~/ace-master/ace-master/assets/css/chosen.min.css" />
}

<div class="page-header">
    <h1>
        Create State
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Add new state
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">State Information</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form asp-action="Create" class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" asp-for="StateName"></label>
                            <div class="col-sm-9">
                                <div class="clearfix">
                                    <input asp-for="StateName" class="col-xs-10 col-sm-5" />
                                </div>
                                <div class="clearfix">
                                    <span asp-validation-for="StateName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" asp-for="CountryId"></label>
                            <div class="col-sm-9">
                                <div class="clearfix">
                                    <select asp-for="CountryId" class="chosen-select col-xs-10 col-sm-5" data-placeholder="Choose a Country..." asp-items="@(new SelectList(ViewBag.Countries, "Id", "CountryName"))">
                                        <option value="">-- Select Country --</option>
                                    </select>
                                </div>
                                <div class="clearfix">
                                    <span asp-validation-for="CountryId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" asp-for="IsActive"></label>
                            <div class="col-sm-9">
                                <label class="inline">
                                    <input asp-for="IsActive" class="ace ace-switch ace-switch-3" type="checkbox" />
                                    <span class="lbl"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">
                                    <i class="ace-icon fa fa-save"></i>
                                    Save
                                </button>
                                <a asp-action="Index" class="btn btn-default">
                                    <i class="ace-icon fa fa-arrow-left"></i>
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/ace-master/ace-master/assets/js/chosen.jquery.min.js"></script>
    <script src="~/js/state.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}